
.login-card {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.login-btn {
    position: relative;
    margin-left: 180px;
    margin-bottom: 30px;

}

.login-card-title {
    font-size:large;
    text-align: center;
}

.username {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.password {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.invalidCredentialsBtn{
    width: 290px;
    padding-top: 20px;
    position: relative;
    margin-left: 75px;
    text-align: center;
    display: inline;

}

